.Register *{
    margin: 8px;
}

.Register {
    background: white;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}


.CentralBox{
    /* background: rgb(0, 63, 136); */
    background: linear-gradient(rgb(124, 182, 38),rgb(212, 212, 212));
    width: 450px;
    height: 450px;
    position: absolute;
    padding-top: 50px;
    left: calc(50% - 225px);
    top: 50px;
    border-radius: 16px;
}

.CentralBox h1{
    padding-bottom: 32px;
}

.CentralBox input{
    border-radius: 16px;
    margin-bottom: 24px;
    padding: 0 16px;
    height: 30px;
    width: 250px;
}
.CentralBox input,
.CentralBox input:focus{
    border-width:0px;
    border:none;
    outline: none;
}

.CentralBox p{
    color: red;
}

.CentralBox button{
    height: 40px;
    width: 120px;
    color: grey;
    border-radius: 24px;
    border-width:0px;
    border:none;
    margin: 0 12px;
}

.Error1, .Error2, .Error3{
    position: absolute;
    font-size: 12px;
}

.Error1{
    top: 185px;
    left: 48px;
}

.Error2{
    top: 265px;
    left: 68px;
}

.Error3 {
    top: 345px;
    left: 135px;
}

